
ul {
    list-style-type: none;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 3rem;
    color:rgb(44, 44, 44);
    margin: 1rem;
    padding: 0;
}

li{
    display: inline;
    max-width: 60%;
}

.center{
    text-align: center;
    display: block;
    margin: 0 auto;
}

body{
    font-family: 'Nunito', sans-serif;
    background-color:rgb(255, 255, 255);
}

h1{
    text-align: center;
    color:rgb(219, 219, 219);
    text-decoration: underline;
    text-decoration: bold;
}

p{
    color:#5F4A00;
    text-align: center;
}