<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
    {{/*  imports "head.html" from the partials/ folder in layouts/  */}}
    {{/*  the second argument is the context for variables in "head.html" and using "." means use the same variable namespace as this document  */}}

</head>
<body>
    {{ partial "navbar.html" (dict "context" . "originPage" "aboutMe") }}

    <div class="container pt-3">
        
        <h1 class = "text-center transition1">{{ .Params.title }}</h1>
        <h2><p><div class = "transition2 text-center" style = "font-size: 1.5rem">{{ .Content }}</div></p></h2>

    </div>

    {{ partial "scripts.html" }}
</body>
</html>